#main-site {
    padding: 0 100px;
    background-color: #1EAAC1;
    height: 80%;

}
.btn-main {
    background-color: darken($yellow, 5) !important;
    color: $primary !important;
    //font-weight: 600 !important;
    border-color: darken($yellow, 15) !important;
    box-shadow: 0 0.5rem 1rem rgba(201, 203, 50, 0.58) !important;
    &:hover {
        background-color: darken($yellow, 15) !important;
    }
}

#main-logo {
    text-align: center;
    width: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    h1 {
        span {
            font-size: 42px;
        }
        letter-spacing: 1px;
    }
    .text-spacing {
        letter-spacing: 4px;
    }
}

#find-car {
    position: relative;
    margin-top: -20%;
    z-index: 500;
}

@media (min-width: 765px) {
    #find-car {
        margin-top: -15vh;
    }
}
